In [1]:
import requests
from requests.auth import HTTPBasicAuth
import pandas as pd

In [2]:
def get_meta_data(data_store_name: str):
    api_url="https://fa-etfl-dev7-saasfaprod1.fa.ocs.oraclecloud.com/biacm/rest"
    #data_store_name = "FSCMTopModelAM.PjfProjectAM.Project"
    password = 'Equinix123'
    user="eqx_helix"
    response = requests.get(api_url + '/meta/datastores/' + data_store_name, auth=HTTPBasicAuth(user, password))
    responsejson = response.json()
    #print(responsejson)
    pvocollist = responsejson['columns']
    df = pd.DataFrame(pvocollist)
    coldf = df.rename(columns={'dataType': 'type'})
    coldf['data_store_name'] = data_store_name
    return coldf

In [3]:
data = get_meta_data("FscmTopModelAM.DooTopAM.Relationship")
#get_meta_data("FscmTopModelAM.PartiesAnalyticsAM.CustomerAccount")

In [11]:
data

,name,label,type,size,precision,scale,isPrimaryKey,isPopulate,isLastUpdateDate,isNaturalKey,isEffectiveStartDate,isCreationDate,colConversion,data_store_name,COLUMN_NAME
0,RelTypeRole,RelTypeRole,VARCHAR,30,30,-127,False,True,False,False,False,False,None,FscmTopModelAM.DooTopAM.Relationship,RELTYPEROLE
1,RelationshipCode,Relationship Code,VARCHAR,30,30,-127,False,True,False,False,False,False,None,FscmTopModelAM.DooTopAM.Relationship,RELATIONSHIPCODE
2,RelationshipComments,Comments,VARCHAR,255,255,-127,False,True,False,False,False,False,None,FscmTopModelAM.DooTopAM.Relationship,RELATIONSHIPCOMMENTS
3,RelationshipCreatedBy,Created By,VARCHAR,64,64,-127,False,True,False,False,False,False,None,FscmTopModelAM.DooTopAM.Relationship,RELATIONSHIPCREATEDBY
4,RelationshipCreationDate,Creation Date,TIMESTAMP,0,0,-127,False,True,False,False,False,False,None,FscmTopModelAM.DooTopAM.Relationship,RELATIONSHIPCREATIONDATE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,RelTypeBackwardRelCode,RelTypeBackwardRelCode,VARCHAR,30,30,-127,False,False,False,False,False,False,None,FscmTopModelAM.DooTopAM.Relationship,RELTYPEBACKWARDRELCODE
828,RelTypeDirectionCode,RelTypeDirectionCode,VARCHAR,30,30,-127,False,False,False,False,False,False,None,FscmTopModelAM.DooTopAM.Relationship,RELTYPEDIRECTIONCODE
829,RelTypeSubjectType,Subject Type,VARCHAR,30,30,-127,False,False,False,False,False,False,None,FscmTopModelAM.DooTopAM.Relationship,RELTYPESUBJECTTYPE
830,RelTypeObjectType,Object Type,VARCHAR,30,30,-127,False,False,False,False,False,False,None,FscmTopModelAM.DooTopAM.Relationship,RELTYPEOBJECTTYPE
831,RelTypeStatus,RelTypeStatus,VARCHAR,1,1,-127,False,False,False,False,False,False,None,FscmTopModelAM.DooTopAM.Relationship,RELTYPESTATUS

In [10]:
data['COLUMN_NAME']=data['name'].str.upper()

In [6]:
df = pd.read_csv(r'C:\Users\VinodKumarM\Downloads\ucmfa02726511\file_fscmtopmodelam_dootopam_relationship-batch1728055599-20230809_093937.csv',nrows=5)

In [12]:
selectcols = list(df.columns)

In [15]:
final_data = data.loc[data['COLUMN_NAME'].isin(selectcols)]

In [16]:
final_data.shape

(30, 15)